<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>

    <div class="chart-container" style="position: relative; height:40vh; width:40vw">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
            type: 'line',
                data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Votes 1',
                    data: [12, 19, 3, 5, 2, 3]
                },{
                    label: 'Votes 2',
                    data: [16, 7, 10, 8, 4, 13]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

    </script>

</body>
</html>